/* styles.home.css */

.home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .home h2 {
    font-size: 36px;
    color: #24a19b;
    margin-bottom: 30px;
  }
  
  .home table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  .home table th {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #24a19b;
    color: white;
    border: 1px solid black;
  }
  
  .home table td {
    padding: 10px;
    border: 1px solid black;
  }
  
  .home table td img {
    max-width: 100px;
  }
  
  .home button {
    background-color: #FF9F29;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .home button:hover {
    background-color: #f78400;
  }
  
  .home a {
    color: #24a19b;
    text-decoration: none;
    font-weight: bold;
  }
  
  .home a:hover {
    text-decoration: underline;
  }
  
  .home .createButton {
    background-color: #24a19b;
  }
  
  .home .createButton:hover {
    background-color: #1b7c72;
  }
  
  .home .updateButton {
    background-color: #3B82F6;
  }
  
  .home .updateButton:hover {
    background-color: #1E40AF;
  }
  
  .home .deleteButton {
    background-color: #EF4444;
  }
  
  .home .deleteButton:hover {
    background-color: #B91C1C;
  }
  
  .home .viewButton {
    background-color: #10B981;
  }
  
  .home .viewButton:hover {
    background-color: #047857;
  }
  
  .home .link {
    color: white;
  }
  
  /*Handle logout css*/
  .navbar {
      width: 100%;
      height: 80px;
      background-color: #FF9F29;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  .navbar h1 {
      color: white;
      font-size: 25px;
      margin-left: 20px;
  }
  
  .white_btn {
      border: none;
      outline: none;
      padding: 12px 0;
      background-color: white;
      border-radius: 20px;
      width: 120px;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      margin-right: 20px;
  }
  
  .org_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .card {
      width: 300px;
      margin: 20px;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      text-align: center;
      background-color: #24a19b
    }
    
    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }
    
    .card h3 {
      margin-top: 20px;
      font-size: 2.0rem;
    }